.mat-icon {
  font-size: 18px;
  padding: 0;
  height: 18px;
  width: 18px;
}

.mat-row:hover button {
  visibility: visible;
}

.mat-row button {
  visibility: hidden;
  display: block;
  margin: 9px 5px;
  width: 30px;
  height: 30px;
}

.completed {
  color: #9d9d9d;
  text-decoration: line-through;
}

.fab-add {
  position: absolute;
  right: 30px;
  top: 50px;
}

